services:
  - type: web
    name: nestjs-app
    env: node
    plan: free
    rootDir: backend
    # buildCommand: npm install && npm run 
    buildCommand: ls -al && cd backend && ls -al && npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: DATABASE_HOST
        value: localhost
      - key: DATABASE_PORT
        value: 27017 # Cổng mặc định của MongoDB
      - key: DATABASE_URI
        value: mongodb://localhost:27017/flutterproject
